.mainInfo
  display: flex
  .img
    max-width: 30%
    transform: translateY(-50%)
    text-align: center
    span
      font-size: 10px
      color: #a3a3a3
      b
        font-size: 16px
        color: #f5f5ff
    img
      min-width: 250px
      border-radius: 50%
      margin: 10px
      min-height: 250px
  .info
    max-width: 75%
    h3
      font-size: 25px
      padding: 0
      margin: 5px 3px

    .other
      padding-left: 30px
      p
        font-size: 10px
        a
          font-size: 16px
          font-weight: 500
          padding-left: 20px
          color: #fff